{{define "3_rows_4_cols_page"}}
<div class="x3_rows_4_cols_page">
  <table>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 0 }}</div><span class="caption">{{ .GetBarcodeByIdx 0 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 1 }}</div><span class="caption">{{ .GetBarcodeByIdx 1 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 2 }}</div><span class="caption">{{ .GetBarcodeByIdx 2 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 3 }}</div><span class="caption">{{ .GetBarcodeByIdx 3 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 4 }}</div><span class="caption">{{ .GetBarcodeByIdx 4 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 5 }}</div><span class="caption">{{ .GetBarcodeByIdx 5 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 6 }}</div><span class="caption">{{ .GetBarcodeByIdx 6 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 7 }}</div><span class="caption">{{ .GetBarcodeByIdx 7 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 8 }}</div><span class="caption">{{ .GetBarcodeByIdx 8 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 9 }}</div><span class="caption">{{ .GetBarcodeByIdx 9 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 10 }}</div><span class="caption">{{ .GetBarcodeByIdx 10 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 11 }}</div><span class="caption">{{ .GetBarcodeByIdx 11 }}</span></td>
    </tr>
  </table>
</div>
{{ end }}
{{define "4_rows_4_cols_page"}}
<div class="x4_rows_4_cols_page">
  <table>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 0 }}</div><span class="caption">{{ .GetBarcodeByIdx 0 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 1 }}</div><span class="caption">{{ .GetBarcodeByIdx 1 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 2 }}</div><span class="caption">{{ .GetBarcodeByIdx 2 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 3 }}</div><span class="caption">{{ .GetBarcodeByIdx 3 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 4 }}</div><span class="caption">{{ .GetBarcodeByIdx 4 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 5 }}</div><span class="caption">{{ .GetBarcodeByIdx 5 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 6 }}</div><span class="caption">{{ .GetBarcodeByIdx 6 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 7 }}</div><span class="caption">{{ .GetBarcodeByIdx 7 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 8 }}</div><span class="caption">{{ .GetBarcodeByIdx 8 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 9 }}</div><span class="caption">{{ .GetBarcodeByIdx 9 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 10 }}</div><span class="caption">{{ .GetBarcodeByIdx 10 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 11 }}</div><span class="caption">{{ .GetBarcodeByIdx 11 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 12 }}</div><span class="caption">{{ .GetBarcodeByIdx 12 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 13 }}</div><span class="caption">{{ .GetBarcodeByIdx 13 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 14 }}</div><span class="caption">{{ .GetBarcodeByIdx 14 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 15 }}</div><span class="caption">{{ .GetBarcodeByIdx 15 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 16 }}</div><span class="caption">{{ .GetBarcodeByIdx 16 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 17 }}</div><span class="caption">{{ .GetBarcodeByIdx 17 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 18 }}</div><span class="caption">{{ .GetBarcodeByIdx 18 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 19 }}</div><span class="caption">{{ .GetBarcodeByIdx 19 }}</span></td>
    </tr>
  </table>
</div>
{{ end }}
{{define "single_with_cover"}}
<div class="single_with_cover">
  <table>
    <tr>
      <td colspan="2">{{(index .BarcodeActions 0).Values}}</td>
    </tr>
    <tr>
      <td><img style="height: 90mm;" src="static/images/cover_{{ .GetBarcodeByIdx 0 }}.jpg" alt="cover"/></td>
      <td>
        <div class="svg">{{ .GetBarcodeSvgByIdx 0 }}</div>
        <span class="caption">{{ .GetBarcodeByIdx 0 }}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        asd ada sdas djkasj dklasjd kljasdkj askdljsakljdskdj askdljsakljdskdj asdas dasdasdasd
        asd asdasdasdasd sadsad
      </td>
    </tr>
  </table>
</div>
{{ end }}




<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/layout.css">
</head>

<body>
  {{range $index, $Page := .Pages}}
    {{if mod $index 2 }}
    {{if mod $index 4 }}
    <div class="mypage odd"> <!-- Begin mypage-->
    {{else}}
    <div class="mypage even"> <!-- Begin mypage-->
    {{end}}


      <div class="top"> <!-- Begin top -->
        {{if eq .Pagetype.Name "3_rows_4_cols_page"}}{{template "3_rows_4_cols_page" .}}{{end}}
        {{if eq .Pagetype.Name "4_rows_4_cols_page"}}{{template "4_rows_4_cols_page" .}}{{end}}
        {{if eq .Pagetype.Name "single_with_cover"}}{{template "single_with_cover" .}}{{end}}
      </div> <!-- End top -->
    {{else}}
      <div class="bottom"> <!-- Begin bottom -->
        {{if eq .Pagetype.Name "3_rows_4_cols_page"}}{{template "3_rows_4_cols_page" .}}{{end}}
        {{if eq .Pagetype.Name "4_rows_4_cols_page"}}{{template "4_rows_4_cols_page" .}}{{end}}
        {{if eq .Pagetype.Name "single_with_cover"}}{{template "single_with_cover" .}}{{end}}
      </div> <!-- End bottom -->
    </div> <!-- End mypage-->
    {{end}}
    {{if and (mod $index 2) (eq (add $index 1) $.PageCount) }}
    <div class="bottom"></div> <!-- emtpy bottom, because last page reached-->
    </div> <!-- End mypage-->
    {{end}}
  {{end}}
</body>

</html>