{{define "3_rows_4_cols_page"}}
<table>
 
  <tr>
    <td><div class="svg">{{ .GetBarcodeSvg 0 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 1 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 2 }}</div></td>
  </tr>
  <tr>
    <td><div class="svg">{{ .GetBarcodeSvg 3 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 4 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 5 }}</div></td>
  </tr>
  <tr>
    <td><div class="svg">{{ .GetBarcodeSvg 6 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 7 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 8 }}</div></td>
  </tr>
  <tr>
    <td><div class="svg">{{ .GetBarcodeSvg 9 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 10 }}</div></td>
    <td><div class="svg">{{ .GetBarcodeSvg 11 }}</div></td>
  </tr>
</table>
{{ end }}


<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/layout.css">
</head>

<body>
  {{range $index, $Page := .Pages}}
  {{if lt (mul $index 2) $.PageCount }}
  <div class="mypage odd">
    <div class="top">
      {{template "3_rows_4_cols_page" (index $.Pages (mul $index 2))}}
    </div>
    <div class="bottom">
      {{if lt (add (mul $index 2) 1) $.PageCount }}
      {{template "3_rows_4_cols_page" (index $.Pages (add (mul $index 2) 1))}}
      {{end}}
    </div>
  </div>
  {{end}}
  {{end}}
</body>

</html>