<div class="x4_rows_4_cols_page">
  <table>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 0 }}</div><span class="caption">{{ .GetBarcodeByIdx 0 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 1 }}</div><span class="caption">{{ .GetBarcodeByIdx 1 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 2 }}</div><span class="caption">{{ .GetBarcodeByIdx 2 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 3 }}</div><span class="caption">{{ .GetBarcodeByIdx 3 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 4 }}</div><span class="caption">{{ .GetBarcodeByIdx 4 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 5 }}</div><span class="caption">{{ .GetBarcodeByIdx 5 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 6 }}</div><span class="caption">{{ .GetBarcodeByIdx 6 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 7 }}</div><span class="caption">{{ .GetBarcodeByIdx 7 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 8 }}</div><span class="caption">{{ .GetBarcodeByIdx 8 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 9 }}</div><span class="caption">{{ .GetBarcodeByIdx 9 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 10 }}</div><span class="caption">{{ .GetBarcodeByIdx 10 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 11 }}</div><span class="caption">{{ .GetBarcodeByIdx 11 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 12 }}</div><span class="caption">{{ .GetBarcodeByIdx 12 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 13 }}</div><span class="caption">{{ .GetBarcodeByIdx 13 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 14 }}</div><span class="caption">{{ .GetBarcodeByIdx 14 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 15 }}</div><span class="caption">{{ .GetBarcodeByIdx 15 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 16 }}</div><span class="caption">{{ .GetBarcodeByIdx 16 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 17 }}</div><span class="caption">{{ .GetBarcodeByIdx 17 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 18 }}</div><span class="caption">{{ .GetBarcodeByIdx 18 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 19 }}</div><span class="caption">{{ .GetBarcodeByIdx 19 }}</span></td>
    </tr>
  </table>
</div>