<div class="x3_rows_4_cols_page">
  <table>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 0 }}</div><span class="caption">{{ .GetBarcodeByIdx 0 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 1 }}</div><span class="caption">{{ .GetBarcodeByIdx 1 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 2 }}</div><span class="caption">{{ .GetBarcodeByIdx 2 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 3 }}</div><span class="caption">{{ .GetBarcodeByIdx 3 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 4 }}</div><span class="caption">{{ .GetBarcodeByIdx 4 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 5 }}</div><span class="caption">{{ .GetBarcodeByIdx 5 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 6 }}</div><span class="caption">{{ .GetBarcodeByIdx 6 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 7 }}</div><span class="caption">{{ .GetBarcodeByIdx 7 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 8 }}</div><span class="caption">{{ .GetBarcodeByIdx 8 }}</span></td>
    </tr>
    <tr>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 9 }}</div><span class="caption">{{ .GetBarcodeByIdx 9 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 10 }}</div><span class="caption">{{ .GetBarcodeByIdx 10 }}</span></td>
      <td><div class="svg">{{ .GetBarcodeSvgByIdx 11 }}</div><span class="caption">{{ .GetBarcodeByIdx 11 }}</span></td>
    </tr>
  </table>
</div>